body {
    background: #f2f2f2;
  }
  
  .animate {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .text-center {
    text-align: center;
  }
  .pull-left {
    float: left;
  }
  .pull-right {
    float: right;
  }
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix {
    display: inline-block;
  }
  /* start commented backslash hack \*/
  * html .clearfix {
    height: 1%;
  }
  .clearfix {
    display: block;
  }
  /* close commented backslash hack */
  a {
    color: #B2A4FF;
  }
  a:hover,
  a:focus {
    color: #B2A4FF;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .text-primary {
    color: #B2A4FF;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
  }
  
  input[type="checkbox"] {
    width: auto;
  }
  button {
    cursor: pointer;
    background: #B2A4FF;
    width: 100%;
    border: 0;
    border-radius: 10px;
    margin-top: 25px;
    padding: 10px 15px;
    color: #fff;
    font-size: 20px;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
  }
  .input-group {
    position: relative;
    margin-bottom: 20px;
  }
  .input-group label {
    position: absolute;
    top: 9px;
    left: 10px;
    font-size: 16px;
    color: #cdcdcd;
    font-weight: normal;
    padding: 2px 5px;
    z-index: 5;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .input-group input {
    outline: none;
    display: block;
    width: 100%;
    height: 40px;
    position: relative;
    z-index: 3;
    border: 1px solid #d9d9d9;
    border-radius: 13px;
    padding: 10px 10px;
    background: #ffffff;
    box-sizing: border-box;
    font-weight: 400;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .input-group .lighting {
    background: #B2A4FF;
    width: 0;
    height: 2px;
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .input-group.focused .lighting {
    width: 100%;
  }
  .input-group.focused label {
    background: #fff;
    font-size: 12px;
    top: -8px;
    left: 5px;
    color: #B2A4FF;
  }
  .input-group span.validate-tooltip {
    margin-top: 0;
  }
  .wrapper {
    width: 400px;
    background: #fff;
    margin: 20px auto;
    margin-top: 150px;
    min-height: 200px;
    border: 1px solid #f3f3f3;
    box-shadow:  10px 10px #D9D9D9;
  }
  .wrapper .inner-warpper {
    padding: 50px 30px 60px;
    box-shadow: 1px 1.732px 10px 0px rgba(0, 0, 0, 0.063);
  }
  .wrapper .title {
    margin-top: 0;
  }
  .wrapper .supporter {
    margin-top: 10px;
    font-size: 14px;
    color: #8E8E8E;
    cursor: pointer;
  }
  .wrapper .remember-me {
    cursor: pointer;
  }
  .wrapper input[type="checkbox"] {
    float: left;
    margin-right: 5px;
    margin-top: 2px;
    cursor: pointer;
  }
  .wrapper label[for="rememberMe"] {
    cursor: pointer;
  }
   .wrapper .signup-wrapper {
    padding: 10px;
    font-size: 14px;
    background: #ffffff;
  }
  .wrapper .signup-wrapper a {
    text-decoration: none;
    color: #7F7F7F;
  } 
  .wrapper .signup-wrapper a .text-primary:hover {
    text-decoration: underline;
  }
  @-webkit-keyframes tooltipanimation {
    from {
      margin-top: -28px;
    }
    to {
      margin-top: 0;
    }
  }
  @keyframes tooltipanimation {
    from {
      margin-top: -28px;
    }
    to {
      margin-top: 0;
    }
  }
  .direction {
    width: 200px;
    position: fixed;
    top: 120px;
    left: 20px;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    background: #9365B8;
    padding: 10px;
    color: #fff;
  }
  @media (max-width: 480px) {
    .direction {
      position: static;
    }
  }